html, body {
	margin: 0;
	padding: 0;
	direction: rtl;
	min-height: 100%;
}

:root {
    --invalidInputColor: initial;
}

.header {
	height: 3em;
	position: relative;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-wrap: wrap;
}

.header-main {
	margin: auto;
	color: rgb(225, 225, 225);
}

.vspacer-40 {
	height: calc(40vh - 3em);
}

.red {
	color: red;
}

main {
	padding: 2em;
	width: 70vw;
	margin: 0 auto;
}

.transparent {
	opacity: 0;
}

.nopointer {
	cursor: default !important;
}

.pointer {
    cursor: pointer;
}

.plus-button, .minus-button {
    width: 1em;
    height: 1em;
    display: inline-block;
    color: transparent;
    user-select: none;
    overflow: hidden;
    vertical-align: middle;
}

.plus-button {
    background: url("../assets/plus.svg");
}

.minus-button {
    background: url("../assets/minus.svg");
}

@media screen and (max-width: 32em) {
	input, label {
		display: inline-block;
		width: 80%;
	}
	#degrees>div {
		border: 1px solid black;
		padding: 0.75em;
	}
	#submit>input {
	    width: initial;
	    padding: 0.25em 1em;
	}
	body {
	    font-size: 1.1em;
	}
}

@media screen and (max-width: 60em) {
    #degrees>div input, #degrees>div label {
        display: inline-block;
		width: 80%;
    }
    #degrees>div select {
        display: block;
    }
}

input:user-invalid {
	background-color: rgba(230, 0, 0, 0.2);
}

input:invalid {
    background-color: var(--invalidInputColor);
}

label[data-required]::after {
	content: " *";
	color: rgba(230, 0, 0, 0.7);
}

.hidden {
    display: none !important;
}
.footer pre {
    display: inline;
    margin: 0 0.25em;
	  vertical-align: middle;
}

.footer {
	margin: 0.5em;
	color: rgba(0, 0, 0, 0.6);
	text-align: center;
}

.footer a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.75);
}
.footer:before {
	content: "";
	width: 100%;
	height: 1px;
	display: block;
	clear: both;
	background-color: black;
	margin-bottom: 0.75em;
}

#degrees>div {
	border: 1px solid gray;
	padding: 0.5em;
	margin: 0.5em 0;
}

form input, form label {
	margin: 0.25em 0.25em;
}

#submit {
    border: none;
}

#contacts input {
	direction: ltr;
}

#success {
	border-right: 0.5em solid lightgreen;
	padding: 0.5em 1em 0.25em 1em;
}

#success p {
	margin: 0;
}