@font-face {
  font-family: Sahel;
  src: url('../fonts/Sahel.eot');
  src: url('../fonts/Sahel.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Sahel.woff2') format('woff2'),
       url('../fonts/Sahel.woff') format('woff'),
       url('../fonts/Sahel.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url('../fonts/Sahel.Bold.eot');
  src: url('../fonts/Sahel.Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Sahel.Bold.woff2') format('woff2'),
       url('../fonts/Sahel.Bold.woff') format('woff'),
       url('../fonts/Sahel.Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Sahel;
  src: url('../fonts/Sahel.Light.eot');
  src: url('../fonts/Sahel.Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Sahel.Light.woff2') format('woff2'),
       url('../fonts/Sahel.Light.woff') format('woff'),
       url('../fonts/Sahel.Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Sahel;
  src: url('../fonts/Sahel.SemiBold.eot');
  src: url('../fonts/Sahel.SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Sahel.SemiBold.woff2') format('woff2'),
       url('../fonts/Sahel.SemiBold.woff') format('woff'),
       url('../fonts/Sahel.SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Sahel;
  src: url('../fonts/Sahel.Black.eot');
  src: url('../fonts/Sahel.Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Sahel.Black.woff2') format('woff2'),
       url('../fonts/Sahel.Black.woff') format('woff'),
       url('../fonts/Sahel.Black.ttf') format('truetype');
  font-weight: 900;
}

html, body {
	margin: 0;
	padding: 0;
	direction: rtl;
	min-height: 100%;
}

body {
    font-family: -apple-system, "Helvetica Neue" , Sahel, sans-serif;
}

:root {
    --invalidInputColor: initial;
}

* {
    box-sizing: border-box;
}

.header {
	height: 3em;
	position: relative;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-wrap: wrap;
}

.header-main {
	margin: auto;
	color: rgb(225, 225, 225);
}

.vspacer-40 {
	height: calc(40vh - 3em);
}

.red {
	color: red;
}

main {
	padding: 2em;
	width: 80vw;
	margin: 0 auto;
}

.transparent {
	opacity: 0;
}

.nopointer {
	cursor: default !important;
}

.pointer {
    cursor: pointer;
}

.plus-button, .minus-button {
    width: 1em;
    height: 1em;
    display: inline-block;
    color: transparent;
    user-select: none;
    overflow: hidden;
    vertical-align: middle;
}

.plus-button {
    background: url("../assets/plus.svg");
}

.minus-button {
    background: url("../assets/minus.svg");
}

@media screen and (max-width: 32em) {
	input, label {
		display: inline-block;
		width: 80%;
	}
	#degrees>div {
		border: 1px solid black;
		padding: 0.75em;
	}
	#submit>input {
	    width: initial;
	    padding: 0.25em 1em;
	}
	body {
	    font-size: 1.1em;
	}
	main {
	    width: 100vw;
	}
}

@media screen and (max-width: 60em) {
    #degrees>div input, #degrees>div label {
        display: inline-block;
		width: 80%;
    }
    #degrees>div select {
        display: block;
    }
}

input:user-invalid {
	background-color: rgba(230, 0, 0, 0.2);
}

input:invalid {
    background-color: var(--invalidInputColor);
}

label[data-required]::after {
	content: " *";
	color: rgba(230, 0, 0, 0.7);
}

.hidden {
    display: none !important;
}
.footer code {
    display: inline;
    margin: 0 0.25em;
	vertical-align: middle;
}

.footer {
	margin: 0.5em;
	// color: rgba(0, 0, 0, 0.9);
	text-align: center;
}

a {
    text-decoration: none;
}

.footer:before {
	content: "";
	width: 100%;
	height: 1px;
	display: block;
	clear: both;
	background-color: black;
	margin-bottom: 0.75em;
}

#degrees>div {
	border: 1px solid gray;
	padding: 0.5em;
	margin: 0.5em 0;
}

form input, form label {
	margin: 0.25em 0.25em;
}

#submit, #edit-submit, #delete-submit {
    border: none;
}

#contacts input {
	direction: ltr;
}

#success {
	border-right: 0.5em solid lightgreen;
	padding: 0.5em 1em 0.25em 1em;
}

#fail {
	border-right: 0.5em solid red;
	padding: 0.5em 1em 0.25em 1em;
}

#success p, #fail p {
	margin: 0;
}

textarea {
    display: block;
    width: 100%;
    height: 6em;
    min-height: 4em;
    resize: vertical;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container span {
  flex-basis: content;
  margin: 0 2em;
  color: blue;
  color: LinkText;
}

#loading-indicator {
  width: 100%;
  height: 100%;
  text-align: center;
}

#loading-dots::before {
  content: "در حال بارگذاری ";
}

.infotext {
  font-size: 1em;
  margin: 0.25em;
  color: #999999;
}

.footer .notice {
    font-size: 0.8em;
    color: gray;
}
.footer .notice a {
    color: darkgray;
}