@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/iransans/eot/IRANSansWeb(FaNum).eot');
	src:
		url('/fonts/iransans/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
		/* IE6-8 */ url('/fonts/iransans/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/ url('/fonts/iransans/woff/IRANSansWeb(FaNum).woff')
			format('woff'),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/iransans/ttf/IRANSansWeb(FaNum).ttf')
			format('truetype');
}
@font-face {
	font-family: fedra;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/fedra/fedra.eot');
	src:
		url('/fonts/iransans/fedra/fedra.eot?#iefix') format('embedded-opentype'),
		/* IE6-8 */ url('/fonts/fedra/fedra.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/ url('/fonts/fedra/fedra.woff') format('woff'),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/fedra/fedra.ttf') format('truetype');
}
.fi::before {
	vertical-align: middle;
}
* {
	scroll-behavior: smooth;
}
html {
	margin: 0;
}
body {
	overflow: hidden;
	font-family: iransans;
	font-weight: 400;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #fff;
}
.dir-rtl {
	direction: rtl;
}
